* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*--- header ---*/

.page-header {
    background-image: url(image/sea.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
}


/*--- navigation bar ---*/

.navbar {
    display: flex;
    padding: 10px;
    /* justify-content: space-between;
  align-items: center; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-brand {
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Courgette', cursive;
}

.nav-link {
    color: #fff;
    margin-right: auto;
    text-align: center;
}

.nav-link li {
    text-align: center;
}

.navbar-brand:hover,
.nav-link:hover,
.nav-toggle:hover {
    color: #fff;
    text-shadow: 0px 0px 15px #ffff;
    transition: ease-in-out;
}

.nav-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-link,
    .navbar {
        flex-direction: column;
    }
    .nav-toggle {
        position: absolute;
        display: flex;
        align-self: flex-end;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #fff;
    }
    #main-nav {
        display: none;
    }
}

.hero-home {
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 30vh;
}


/*--- intro ---*/

.intro #avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
}