<footer class="footer">
    <ul class="social-link">
        <li>
            <a href="https://github.com/blacknstones">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <a href="https://www.instagram.com/arduensam/?hl=en">
            <i class="fab fa-instagram"></i>
        </a>
        <li>
            <a href="https://www.linkedin.com/in/yanwei-zhu-3972a917b/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </ul>

    <div class="credits">
        © 2019 Yanwei Zhu, all rights reserved. Made with <i class="fas fa-paw"></i>.
    </div>
</footer>