<header class="page-header header container-fluid">
    <nav class="navbar">
        <a class="navbar-brand" href="/index.html">
            <img src="image/white.png" width="30" height="30" class="d-inline-block align-top" alt="Yanwei Zhu Logo"> Yanwei Zhu
        </a>

        <span class="nav-toggle" id="nav-toggle">
                <i class="fas fa-bars"></i>
            </span>


        <ul id="main-nav">
            <li>
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li>
                <a class="nav-link" href="/gallery/index.html">GALLERY</a>
            </li>
            <li>
                <a class="nav-link" href="/blog/index.html">BLOG</a>
            </li>
            <li>
                <a class="nav-link" href="/portfolio/index.html">PORTFOLIO</a>
            </li>
            <li>
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>